/*font*/
@font-face {
	font-family: lato-regular;
	src: url(../fonts/lato-regular.ttf);
}
@font-face {
	font-family: lato-light;
	src: url(../fonts/lato-light.ttf);
}
@font-face {
	font-family: lato-medium;
	src: url(../fonts/lato-medium.ttf);
}
@font-face {
	font-family: lato-lightitalic;
	src: url(../fonts/lato-lightitalic.ttf);
}
@font-face {
	font-family: lato-heavy;
	src: url(../fonts/lato-heavy.ttf);
}
@font-face {
	font-family: 'roboto-bold';
	src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
	font-family: 'roboto-regular';
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: 'roboto-light';
	src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
	font-family: 'roboto-thin';
	src: url(../fonts/Roboto-Thin.ttf);
}
*{margin: 0px;padding: 0px;}.clear{clear: both;}html{width: 100%}body{width: 100%;font-size: 13px;font-family: roboto-light}
/*reset*/
a{text-decoration: none}
a:hover {text-decoration: none}
.bdradius0{border-radius:0px }
.bdnone{border: none}
.width100{width: 100% !important;}
.clearfix{clear: both;}
/*reset*/
/*margin*/
.margin-0{margin: 0px}
.margin-10{margin: 10px;}.margin-15{margin: 15px;}.margin-20{margin: 20px;}.margin-25{margin: 25px;}.margin-30{margin: 30px;}.margin-35{margin: 35px;}.margin-40{margin: 40px;}
.margin-top-10{margin-top: 10px}.margin-top-15{margin-top: 15px}.margin-top-20{margin-top: 20px}.margin-top-25{margin-top: 25px}.margin-top-30{margin-top: 30px}.margin-top-35{margin-top: 35px}.margin-top-40{margin-top: 40px}.margin-top-45{margin-top: 45px}.margin-top-50{margin-top: 50px}
.margin-left-10{margin-left: 10px;}
.margin-left-15{margin-left: 10px;}
.margin-right-10{margin-left: 10px;}
.margin-right-15{margin-left: 10px;}
.margin-bottom-15{margin-bottom: 15px}
/*padding*/
.pd05{padding: 0px 5px;}
.pd0{padding: 0px}
.pdl0{padding-left: 0px;}

/*header-top*/
.head{display:block;width: 100%;height: 40px;background: #3c5eab;border-bottom: 2px solid #d96906;box-sizing: border-box}
.lis-menu-top{display: block;width: 100%;height: 100%;line-height: 40px}
.lis-menu-top li{float: left}
.lis-menu-top li a{float: left;padding:0px 5px;color: #fff;text-transform: uppercase;transition: all 0.5s}
.lis-menu-top li a:hover{color: #8eaae9;transition: all 0.5s}
.lis-menu-login{line-height: 40px;float: right;text-align: right;}
.lis-menu-login li{float: left}
.lis-menu-login li a{float: left;padding:0px 5px;color: #fff;text-transform: uppercase;transition: all 0.5s}
.lis-menu-login li a i{font-size: 17px;line-height: 1.2}
.lis-menu-login li a:hover{color: #8eaae9;transition: all 0.5s}
/*end header-top*/
/*header-menu-sldier*/
.header-menu-sldier{display: block;width: 100%;height: 150px}
.logo{display:block;height: 100%;}
.logo img{width: 200px}
/*end header-menu-sldier*/
